#SideWidget{
    position:fixed;
 
    z-index:999;
    
    
    filter:drop-shadow(0 20px 40px rgba(0,0,0,0.19));
    transition: all .3s ease-in-out;
}
#SideWidget-Wrapper{
    background:white;
    
}

@media screen and (min-width:768px){
    #SideWidget{
        left:0;
        
        
        height:100%;
        width:25%;
    }
    #SideWidget-Wrapper{
        height:83%;
        overflow-x: scroll;
    }
    .SideWidget-Header{
        height:17%;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
     
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background:#bfbfbf
    }
}


.SideWidget-Header{
    text-align:left;
    border-bottom:1px solid #f1f1f1;
    padding:20px 40px;
    background:white;

}
.SideWidget-Point{
    text-align:left;
    font-size: 20px;
    font-weight: 700;
    padding:40px 40px;
    border-bottom:1px solid #f1f1f1;
}
.SideWidget-Point p,
.SideWidget-Point h2{
margin:0;
}

.SideWidget-Point h2{
    font-size:18px;
}

.SideWidget-Point p{
    font-size:15px;
    font-weight:400;
    padding:10px 0 20px
}

.SideWidget-WhatsApp,
.SideWidget-Email{
    border:2px solid;
    border-radius:3px;
    padding:6px 12px;
    border-color:#158aea;
    font-weight:500;
}
.SideWidget-WhatsApp{
    background:#158aea;
    color:white;
    margin-right:10px;
}
.SideWidget-Email{
    background:white;
    color:#158aea;
 
}

@media screen and (max-width:768px){
    #SideWidget{
        bottom:0;
        border-radius:10px 10px 0 0;
     
        height:fit-content;
        width:100%;
    }
    #SideWidget-Wrapper{

        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x:scroll;
        scroll-snap-type: x mandatory;
        
    }
    .SideWidget-Header{
        padding: 10px 40px;
        display: none;
    }
    .SideWidget-Point {
        min-width:100vw;
        max-width:100vw;
        scroll-snap-align: start;
        padding: 30px 40px 30px 40px;
    }
    .SideWidget-Point p{
        width:80%;
    }
        
}

#SideWidget-Toogle {
    cursor:pointer;
    position:absolute;
    right:-40px;
    background:white;
    font-size:40px;
    border-radius:0 3px 3px 0;
    transition:all .2s ease-in-out;
}